<footer id="footer">
  <a href="https://twitter.com/onevetz"><i class="fab fa-twitter" style="color: black;"></i></a>
  <a href="https://www.linkedin.com/in/marcellinus-sugiarto-475862130/"><i class="fab fa-linkedin-in" style="color: black;"></i></a>
  <a href="https://www.instagram.com/onevets_ig/"><i class="fab fa-instagram" style="color: black;"></i></a>
  <a href="mailto:otraigusnevets@gmail.com"><i class="fas fa-envelope" style="color: black;"></i></a>
  <p>© Copyright 2019 Marcellinus Steven Sugiarto</p>

</footer>
</body>

</html>
